.chievo {
  border: 1px solid black;
  background-color: lightblue;
  padding: 10px;
  width: fit-content;
  color: black;
}

.unachieved {
  opacity: 0.4;
  background-color: lightgray;
  color: darkslategray;

  img {
    filter: grayscale(75%);
  }
}

.chievoText {
  padding-left: 10px;
}