<div class="main-container">
  <mat-tab-group mat-stretch-tabs animationDuration="0ms">
    <mat-tab label="Game">
      <div class="content">
        <app-main-view></app-main-view>
      </div>
    </mat-tab>
    <mat-tab label="Achievements">
      <div class="content">
        <app-achievements></app-achievements>
      </div>
    </mat-tab>
    <mat-tab label="Statistics">
      <div class="contendiv">
        <app-statistics></app-statistics>
      </div>
    </mat-tab>
    <mat-tab label="Options">
      <div class="content">
        <app-options></app-options>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>